
  @keyframes moveText {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(50px);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes colorChange {
    
    25% {
      color:rgb(230, 218, 153)
    }
    50% {
      color:rgb(112, 99, 14)
      
    }
    75% {
      color:rgb(100, 100, 12),
    }
    100% {
      color:rgb(83, 75, 24)
    }
  }
  .animated-text {
    animation: moveText 2s infinite; /* 2 saniye süren, tekrar eden bir animasyon */
  }
  
  .account-page{
    width: 80%;
    height: 37.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .login-container{
    
      display: flex;
      flex-direction: row; 
      justify-content: center;
      align-items: center;
      width:85%;
      background-color: aquamarine;

    
  }
  .account-column-left{
    height: 100%;
  }
  
  .account-column {
    flex: 1;
    /*padding: 2em;*/
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 35vw;
    height: 33vw;
    padding: 2em;
    
  }
  .auth-img{
    width: 100%;
     height: 29.35em;
    
  }
  
  .account-column h2 {
    font-size: 20px;
    font-weight: 500;
  }
  
  .account-column form {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    margin-top: 10px;
    width: 30em;
  }
 
  
  .account-column form div label {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    row-gap: 5px;
  }
  
  .account-column form .remember {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 12px;
  }
  
  .account-column form .required {
    color: #e51414;
    font-weight: bold;
  }
  
  .account-column form .remember label {
    display: flex;
    align-items: center;
    column-gap: 5px;
  }
  
  .account-column form .remember button {
    background-color: #9e7e43;
    color: #fff;
    border: 1px solid #9e7e43;
    margin-top: 10px;
    width: 100%;
    margin-bottom: 1em;
  }
  
  .account-column form .form-link {
    color: #b3a06d;
    font-size: 14px;
  }
.auth-title{
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 30px;
  font-family: 'Eczar', serif;
  color: #000D25;
  animation: colorChange 5s linear infinite;
}

.verticalLine {
  height: 30px; /* Çizginin yüksekliği isteğinize bağlı olarak ayarlanabilir */
  border-left: 2px solid #000; /* Dik çizgi stilini tanımlayabilirsiniz */
  margin: 0 10px; /* Çizginin etrafındaki boşlukları isteğinize bağlı olarak ayarlayabilirsiniz */
}
  
@media (max-width: 768px) {
  .account-page {
    flex-direction: column;
  }
  
}

/*! newLogin start */

.newlogin-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 37.5vw;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.card-left{
    width: 35vw;
    height: 33vw;
    background-color: rgb(238, 241, 243);
}
.card-right{
    width: 35vw;
    height: 33vw;
    background-color: rgb(215, 220, 225);
}
