@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}
@keyframes colorChange {
    
  25% {
    color:#1ebe8b
  }
  50% {
    color:#17af8c
    
  }
  75% {
    color:#16ab6b,
  }
  100% {
    color:#248056
  }
}

.contact .contact-bottom {
  margin: 2em 3em;
}

.contact-bottom .contact-titles {
  width: 100%;
  text-align: center;
  margin-bottom: 2em;
}

.contact-bottom .contact-titles h4 {
  color: #e51414;
  font-weight: 500;
}

.contact-bottom .contact-titles h2 {
  font-size: 40px;
  font-weight: 600;
  color: #091933;
}

.contact-bottom .contact-titles p {
  font-size: 14px;
}

.contact-bottom .contact-elements {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  gap: 100px;
}

.contact-bottom .contact-form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.contact-bottom .contact-form > div {
  display: flex;
  flex-direction: column;
  flex-basis: calc(50% - 10px);
  font-size: 14px;
  row-gap: 4px;
}

.contact-bottom .contact-form > div label span {
  color: #e51414;
}

.contact-bottom .contact-form > div:nth-child(3),
.contact-bottom .contact-form > div:nth-child(4) {
  flex-basis: 100%;
}

.contact-bottom .contact-form .form-button {
  background-color: #000e26;
  color: #fff;
}

.contact-elements .ant-card-body {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.contact-info-item {
  font-size: 14px;
}

.contact-info-item .contact-info-texts {
  display: flex;
  flex-direction: column;
}

.contact-info-item .contact-street {
  margin: 15px 0;
}

.contact-info-item .contact-date {
  margin-top: 10px;
}
.form-div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-elements .card-info {
  margin: 0;
  border: 4px dashed #000e26;
  
  
}
.contact-elements .card-info h1{
  font-size: 30px;
  animation: colorChange 2s infinite;
}

/*! border animation!
 .card-info {
  margin: 0;
  position: relative;
  z-index: 0;
  width: 50%;
  height: 37vw;
  border-radius: 10px;
  overflow: hidden;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
    content: '';
    position: absolute;
    z-index: -2;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    background-color: #399953;
    background-repeat: no-repeat;
    background-size: 50% 50%, 50% 50%;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    background-image: linear-gradient(#399953, #399953), linear-gradient(#fbb300, #fbb300), linear-gradient(#d53e33, #d53e33), linear-gradient(#377af5, #377af5);
    animation: rotate 4s linear infinite;
  }

  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 6px;
    top: 6px;
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    background: white;
    border-radius: 5px;
  }
} */

/* responsive */
@media (max-width: 768px) {
  .contact .contact-titles {
    width: 100%;
  }

  .contact-elements {
    flex-direction: column;
    gap: 50px !important;
  }
}

@media (max-width: 576px) {
  .contact-form {
    flex-direction: column;
  }
}
